@using Microsoft.AspNetCore.Components

<div class="form-group">
	<label class="form-label">Rooms:</label>
	<div>
		<fieldset disabled="@Disabled" class="checkbox-group" aria-label="Select one or more rooms (optional)">
			@foreach (var room in AvailableRooms)
			{
				<div class="checkbox-item">
					<input type="checkbox" 
						   id="room-@room" 
						   checked="@SelectedRooms.Contains(room)" 
						   @onchange="@(e => HandleCheckboxChange(room, e))"
						   disabled="@Disabled" />
					<label for="room-@room">@room</label>
				</div>
			}
		</fieldset>
	</div>
</div>
